<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script src="/js/cliente.js"></script>
    <script src="/js/gerente.js"></script>
    <link rel="stylesheet" href="../css/gerenciar-servicos.css">
    <title>Histórico de Serviços</title>
</head>


<body>

    <header>
        <div class="top-header" id="topHeader">
            <div class="div-logo">
                <ul class="home-logo">
                    <li>
                        <a href="/cliente.html"><img src="../img/logo-MCAM.png" class="logo"></a>
                    </li>
                    <li>
                        <a href="/cliente.html" class="link-limpo">Home</a>
                    </li>
                </ul>

            </div>

            <ul class="opcoes">
                <li>
                    <select class="serv servG">
                        <option class="opcao-select" value="" selected disabled>Serviços</option>
                        <option class="opcao-select" value="/acompanhar-servicos.html">Acompanhar Serviço</option>
                        <option class="opcao-select" value="/historico-servicos.html">Histórico de Serviços</option>
                    </select>
                </li>
                <li>
                    <a href="#sobreNos" class="link-limpo">Sobre Nós</a>
                </li>
                <li>
                    <a href="#Contatos" class="link-limpo">Contato</a>
                </li>

            </ul>
            <ul class="login">
                <li class="l-l-icon user-dropdown">
                    <img class="login-icon" id="userIcon" src="../img/icone-login.png">
                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="/editar-perfil.html">Editar Perfil</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>

                <li class="nome-usuario-header" id="Nome-usuario"><b></b></li>
            </ul>



        </div>

        <div class="bot-header">

            <a href="https://www.instagram.com/mastercarautopecasemecanica/" target="_blank"><img
                    src="../img/icone-insta-preto.png" class="icone-insta-p"></a>
        </div>
    </header>
    
    <div class="container">
        <h1 class="titulo-listagem-servicos">Histórico de Serviços</h1>
        <div id="cards-servicos" class="cards-container">
            <!-- Cards dos serviços serão inseridos aqui -->
        </div>
    </div>

    <footer>
        <div class="logo-footer">
            <a href="index.html"><img src="../img/logo-fundo-branco-MCAM.png" class="logo-fundo-branco"></a> 
        </div>
        <div class="opcoes-footer-pai">
            <ul class="opcoes-footer">
                <a href=#topHeader class="link-limpo"><li class="home-footer">Home</li></a>
                <li>
                    <select class="sef">
                        <option class ="opcao-select-footer" value="" selected disabled>Serviços</option>
                        <option class ="opcao-select-footer" value="">Agendamento</option>
                        <option class ="opcao-select-footer" value="">Acompanhar serviço</option>
                    </select>
                </li>
                <li class=>
                    <a href="#sobreNos" class="link-limpo">Sobre Nós</a>
                </li>
                
                
            </ul>
        </div>
        
        <div class="contatos" id="Contatos">
            <div class="contatos-filho">
                <h1>Contatos:</h1>
                <br>
                
                
                <ul class="contatos-footer">
                    <li class="ctt">
                        <img src="../img/tel-icone.png" class="icon-ctt-tel">
                        <p>Ligue<br><b>(34) 3469-1956</b></p>
                    </li>
                    
                    <li class="ctt">
                        <img src="../img/icone-whatsapp.png" class="icon-ctt-zap">
                        <p><b>(34)9 9815-1225</b><br>
                        <b>(34)9 8830-5045</b></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer> 

    <script src="/js/dropdown.js"></script>
    <script src="/js/historico-servicos.js"></script>
</body>

</html>