<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    
    <title>MasterCar Autopeças e Mecânica</title>
</head>


<body>
    <header>
        <div class="top-header" id="topHeader">
            <div class="div-logo"> 
                <ul class="home-logo" >
                    <li>
                        <a href="/"><img src="../img/logo-MCAM.png" class="logo"></a>
                    </li>
                    <li>
                        <a href="/" class="link-limpo">Home</a>
                    </li>
                </ul>
                
            </div>
            
            <ul class="opcoes">
                <li>
                    
                    <select class="serv">
                        <option class ="opcao-select" value="" selected disabled>Serviços</option>
                        <option class ="opcao-select" value="/login.html">Acompanhar Serviço</option>
                        <option class ="opcao-select" value="/login.html">Histórico de Serviços</option>
                    </select>
                </li>
                <li>
                    <a href="#sobreNos" class="link-limpo">Sobre Nós</a>
                </li>
                <li>
                    <a href="#Contatos" class="link-limpo">Contato</a>
                </li>
                
            </ul>
            <ul class = "login">
                <li class="l-l-icon">
                    <a href="/login.html" ><img class="login-icon" src="../img/icone-login.png"></a>
                </li>
                <li class="l-l-txt">
                    <a href="login.html" class="link-limpo"><b>Entre</b></a> ou
                    <a href="cadastro-cliente.html" class="link-limpo"><b>Cadastre-se</b></a>
                </li>
            </ul>

            
            
        </div>

        <div class="bot-header">
            
            <a href="https://www.instagram.com/mastercarautopecasemecanica/" target="_blank"><img src="../img/icone-insta-preto.png" class="icone-insta-p"></a>   
        </div>
    </header>
    
    <div class="container">
        <div class="overlay">
          <div class="slogan-left">
            <h1 class="slogan-titulo">Venha nos conhecer!!</h1>
      
            <p class="texto-slogan">
              Venha para a Master Car Auto Peças e Mecânica 
              porque seu carro merece o melhor cuidado, qualidade, 
              confiança e precisão em cada serviço!
            </p>
          </div>
        </div>
        <img class="slogan-img" src="../img/imagem-fundo-slogan.jpg" alt="Fundo">
    </div>
    <div class="sobre-nos" id="sobreNos">
        <br>
        <br>
        <br>
        <h1 class="sobre-nos-titulo">Sobre Nós</h1>
        <br>
        <br>
        <div class="texto-sobre-box">

            <div class="texto-sobre">

                <h1 class="texto-sobre-titulo">Quem somos nós?</h1>

                <p class="texto-sobre-texto">
                    Na Master Car Auto Mecânica, acreditamos que seu carro merece o melhor cuidado. 
                    Combinamos qualidade, confiança e precisão em cada serviço, garantindo que seu 
                    veículo receba o tratamento que ele realmente precisa. Contamos com uma equipe 
                    experiente e dedicada, pronta para oferecer um atendimento transparente e soluções 
                    eficientes para o seu carro. Nosso compromisso é garantir a sua segurança e tranquilidade,
                    sempre com um serviço honesto e de confiança. Aqui, cada cliente é tratado com respeito e
                    cada veículo recebe a atenção que merece. Master Car Auto Mecânica, cuidamos do seu carro 
                    como se fosse nosso!
                </p>
            </div>
            
        </div>
        <div class="texto-sobre-box">

            <div class="texto-sobre">
                <h1 class="texto-sobre-titulo">Onde pode nos encontrar?</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <ul class="loc-itens">
                    <li class="endereco">
                        Av. Orlando Barbosa
                        n°2168 B. Santa Terezinha
                    </li>
                    <li class="loc-foto">
                        <img src="../img/loc-mec.png" class="loc">
                    </li>
                </ul>
                

                
            </div>
            
        </div>
    </div> 
    <footer>
        <div class="logo-footer">
            <a href="index.html"><img src="../img/logo-fundo-branco-MCAM.png" class="logo-fundo-branco"></a> 
        </div>
        <div class="opcoes-footer-pai">
            <ul class="opcoes-footer">
                <a href=#topHeader class="link-limpo"><li class="home-footer">Home</li></a>
                <li>
                    <select class="sef">
                        <option class ="opcao-select-footer" value="" selected disabled>Serviços</option>
                        <option class ="opcao-select-footer" value="">Agendamento</option>
                        <option class ="opcao-select-footer" value="">Acompanhar serviço</option>
                    </select>
                </li>
                <li class=>
                    <a href="#sobreNos" class="link-limpo">Sobre Nós</a>
                </li>
                
                
            </ul>
        </div>
        
        <div class="contatos" id="Contatos">
            <div class="contatos-filho">
                <h1>Contatos:</h1>
                <br>
                
                
                <ul class="contatos-footer">
                    <li class="ctt">
                        <img src="../img/tel-icone.png" class="icon-ctt-tel">
                        <p>Ligue<br><b>(34) 3469-1956</b></p>
                    </li>
                    
                    <li class="ctt">
                        <img src="../img/icone-whatsapp.png" class="icon-ctt-zap">
                        <p><b>(34)9 9815-1225</b><br>
                        <b>(34)9 8830-5045</b></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer> 
</body>

</html>